@import '../lib/palette.scss';

.header {
  grid-area: header;
  width: 100%;
  height: calc(8vh - 1px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid map-get(map-get($palette, greyColors), silver);
  background: map-get(map-get($palette, lightTheme), white);
  position: absolute;
  &--transparent {
    background: transparent;
    border: none;
  }
  &__brand {
    color:  map-get(map-get($palette,primary),blue);
    text-decoration: none;
    font-family: 'Permanent Marker';
  }
  &__page-name {
    font-size: 17px;
    font-family: 'Quicksand Regular';
    &--arrow {
      width: 100%;
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
    }
  }
  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
    &-arrow {
      position: relative;
    }
  }
  &__icon {
    color: map-get(map-get($palette,greyColors),black);
    background: map-get(map-get($palette,greyColors),silver);
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    svg {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
    &--arrow {
      margin-left: 6px;
    }
    &-settings {
      position: absolute;
      right: 4px;
      background: map-get(map-get($palette,darkTheme),content);
      svg {
        font-size: 20px;
      }
    }
    &--list {
      background: map-get(map-get($palette,darkTheme),content) 0% 0% no-repeat padding-box;
      &:hover {
        border-radius: 50%;
        background: map-get(map-get($palette,greyColors),black);
        color:map-get(map-get($palette,lightTheme),white);
      }
    }
  }
  &__search {
    justify-content: space-between;
    &--bar {
      width: calc(100% - 16px);
      height: 32px;
      border-radius: 20px;
      background: map-get(map-get($palette,darkTheme),content) 0% 0% no-repeat padding-box;
      border-radius: 19px;
      padding: 0 8px;
        &:focus {
          outline: none;
      }
      &-container {
        width: calc(100% - 60px);
        margin: 4px 4px 4px 10px;
        position: relative;
        & > svg {
          position: absolute;
          right: 8px;
          top: 4px;
        }
      }
    }
    &--icon {
      margin-right: 10px;
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: calc(10vh - 1px);
  }
}

@media screen and (min-width: 425px) {
  .header {
    height: calc(9vh - 1px);
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 50%;
    height: calc(10vh - 1px);
  }
}
