@import '../lib/palette.scss';

.header {
  grid-area: header;
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  &.light {
    box-shadow: 0 1px 3px map-get(map-get($palette, greyColors), silver);
    & .header__icon {
      background: map-get(map-get($palette,darkTheme), content);
      color: map-get(map-get($palette,lightTheme), content);
    }
    & .header__search--bar {
      background: map-get(map-get($palette,darkTheme), content);
      color: map-get(map-get($palette,greyColors), nickel);
    }
  } 
  &.dark {
    box-shadow: 0 1px 3px map-get(map-get($palette, greyColors), coal);
    & .header__icon {
      background: map-get(map-get($palette,darkTheme), lighter);
      color: map-get(map-get($palette,greyColors), lighter);
    }
    & .header__search--bar {
      background: map-get(map-get($palette,darkTheme), lighter);
      color: map-get(map-get($palette,greyColors), silver);
    }
  }
  &--transparent {
    background: transparent;
    box-shadow: none;
  }
  &__brand {
    color:  map-get(map-get($palette,primary),blue);
    text-decoration: none;
    font-family: 'Permanent Marker';
  }
  &__page-name {
    font-size: 17px;
    font-family: 'Quicksand Regular';
    &--arrow {
      width: calc(100% - 56px);
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      &.pl {
        padding-left: 28px;
      }
      &.pr {
        padding-right: 28px;
      }
    }
  }
  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
    &-arrow {
      position: relative;
    }
  }
  &__icon {
    border-radius: 28px;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    svg {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
    &--arrow {
      margin-left: 6px;
    }
    &-settings {
      position: absolute;
      right: 4px;
      background: map-get(map-get($palette,darkTheme),content);
      svg {
        font-size: 20px;
      }
    }
    &--list {
      &:hover {
        border-radius: 50%;
        background: map-get(map-get($palette,greyColors),black);
        color:map-get(map-get($palette,lightTheme),white);
      }
    }
  }
  &__search {
    justify-content: space-between;
    &--bar {
      width: calc(100% - 16px);
      height: 32px;
      border-radius: 20px;
      padding: 0 8px;
      font-size: 14px;
      font-weight: 700;
      &:focus {
        outline: none;
      }
      &-container {
        width: calc(100% - 60px);
        margin: 4px 4px 4px 10px;
        position: relative;
        & > svg {
          position: absolute;
          right: 8px;
          top: 4px;
        }
      }
    }
    &--icon {
      margin-right: 10px;
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: 10vh;
  }
}

@media screen and (min-width: 425px) {
  .header {
    height: 9vh;
  }
}

@media screen and (min-width: 768px) {
  .header {
    width: 50%;
    height: 10vh;
  }
}
