@import '../lib/palette.scss';

.header {
  grid-area: header;
  width: 100%;
  height: calc(8vh - 1px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  &.light {
    background: map-get(map-get($palette,lightTheme),white);
    border-bottom: 1px solid map-get(map-get($palette, greyColors), silver);
    & .header {
      &__icon {
        background: map-get(map-get($palette,darkTheme), content);
        color: map-get(map-get($palette,lightTheme), content);
      }
      &__search--bar {
        background: map-get(map-get($palette,darkTheme), content);
        color: map-get(map-get($palette,greyColors), nickel);
      }
      &__brand {
        color:  map-get(map-get($palette,secondary),purple);
      }
    }
  } 
  &.dark {
    border-bottom: 1px solid map-get(map-get($palette, greyColors), coal);
    & .header {
      &__icon {
        background: map-get(map-get($palette,darkTheme), lighter);
        color: map-get(map-get($palette,greyColors), lighter);
      }
      &__search--bar {
        background: map-get(map-get($palette,darkTheme), lighter);
        color: map-get(map-get($palette,greyColors), silver);
      }
      &__brand {
        color:  map-get(map-get($palette,primary),blue);
      }
    }
  }
  &__offline {
    position: absolute;
    width: 100vw;
    height: 20px;
    padding: 5px 0;
    font-family: 'Quicksand Regular';
    font-size: 16px;
    text-align: center;
    top: 8vh;
    z-index: 9999;
  }
  &__page-name {
    font-size: 17px;
    font-family: 'Quicksand Bold';
    &--arrow {
      width: calc(100% - 64px);
      text-align: center;
      vertical-align: middle;
      line-height: 30px;
      &.pl {
        padding-left: 32px;
      }
      &.pr {
        padding-right: 32px;
      }
    }
  }
  &__brand {
    text-decoration: none;
    font-family: 'Permanent Marker';
  }
  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:0 8px;
    &-arrow {
      position: relative;
    }
  }
  &__icon {
    border-radius: 32px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    svg {
      font-size: 20px;
    }
    &:hover {
      cursor: pointer;
    }
    &--arrow {
      margin-left: 6px;
    }
    &-settings {
      position: absolute;
      right: 4px;
      background: map-get(map-get($palette,darkTheme),content);
      svg {
        font-size: 20px;
      }
    }
    &--list {
      &:hover {
        border-radius: 50%;
        background: map-get(map-get($palette,greyColors),black);
        color:map-get(map-get($palette,lightTheme),white);
      }
    }
  }
  &__search {
    justify-content: space-between;
    &--bar {
      width: calc(100% - 16px);
      height: 32px;
      border-radius: 20px;
      padding: 0 8px;
      font-size: 14px;
      font-weight: 700;
      &:focus {
        outline: none;
      }
      &-container {
        width: calc(100% - 60px);
        margin: 4px 4px 4px 10px;
        position: relative;
        & > svg {
          position: absolute;
          right: 8px;
          top: 4px;
        }
      }
    }
    &--icon {
      margin-right: 10px;
      font-size: 24px;
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: calc(10vh - 1px);
    &__offline {
      top: 10vh;
    }
  }
}

@media screen and (min-width: 425px) {
  .header {
    height: calc(9vh - 1px);
    &__offline {
      top: 9vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: calc(10vh - 1px);
    &__search {
      &--bar {
        width: calc(100% - 20px);
        height: 48px;
        border-radius: 30px;
        padding: 0 10px;
        font-size: 18px;
        &-container {
          & > svg {
            right: 10px;
            top: 11px;
          }
        }
      }
    }
    &__offline {
      top: 10vh;
    }
    &__page-name {
      font-size: 20px;
      &--arrow {
        width: calc(100% - 96px);
        &.pl {
          padding-left: 48px;
        }
        &.pr {
          padding-right: 48px;
        }
      }
    }
    &__icon {
      border-radius: 48px;
      width: 48px;
      height: 48px;
    }
  }
}
