@import '../lib/palette';
@import '../lib/fonts';

.ProductActions {
  width: calc(100% - 20px); 
  margin: 10px;
  opacity: 1;
  height: 100px;
  &__info { 
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-price {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      align-items: center;
      height: 30px;
      &-container {
        display: flex;
        p {
          margin-right: 10px;
        }
      }
     }
     &-buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      &--btn {
        width: calc(100% - 60px);
        button {
          margin: 0;
          width: 100%;
        }
      }
      &--icon {
        width: 40px;
        height: 40px;
        font-size: 14px;
        button {
          width: 100%;
          height: 100%;
        }
        svg {
          font-size: 20px;
        }
      }
     }
    }
}