@import '../lib/palette';

.ProductDescription {
  font-family: 'Quicksand', sans-serif;
  width: calc(100% - 20px); 
  margin: 10px;
  &__text {
    font-size: 18px;
    padding: 10px;
    text-align: justify;
  }
}