@import '../lib/palette';

.productCard {
  font-family: 'Quicksand Regular';
  height: 85%;
  width: calc(100% - 20px); 
  border-radius: 5px;
  margin: 12px 10px;
  box-shadow: 0px 0px 4px #00000029;
  opacity: 1;
  color: map-get(map-get($palette, lightTheme), content);
  text-decoration: none;
  &__img {
    object-fit: contain;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    width: 100%;
    &-container {
      height: 73%;
      width: 100%;
    }
  }
  &__title {
    font-size: 18px;
  }
  &__details {
    height: calc(27% - 32px);
    padding: 16px;
    background: map-get(map-get($palette,lightTheme),white);
    border-top: 1px solid #F7F7F7;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: calc(100% - 24px);
    &--price {
      font-size: 28px;
    }
    &--state {
      font-size: 20px;
    }
  }
}


@media screen and (min-width: 500px) {
  .productCard {
    width: calc(50% - 20px);
  }
}

@media screen and (min-width: 1024px) {
  .productCard {
    width: calc(33% - 20px);
  }
}