.featured {
  grid-area: 1 / 1 / 2 / 2;
  overflow-x: scroll;
}

.categories {
  grid-area: 2 / 1 / 4 / 2;
  overflow: scroll;
}

@media screen and (min-width: 500px) { 
  .featured {
    grid-area: 1 / 1 / 2 / 3;
  }

  .categories {
    grid-area: 2 / 1 / 4 / 3;
  }
}