@import '../lib/palette';

.featured {
  grid-area: 1 / 1 / 2 / 2;
  width: calc(100% - 24px);
  padding: 12px;
  overflow-x: auto;
  overflow-y: hidden;
}

.categories {
  grid-area: 2 / 1 / 4 / 2;
  width: calc(100% - 20px);
  padding: 10px;
  &-title {
    margin-top: 10px;
    display: block;
    font-family: 'Quicksand', sans-serif;
  }
}

@media screen and (min-width: 500px) { 
  .featured {
    grid-area: 1 / 1 / 2 / 3;
  }

  .categories {
    grid-area: 2 / 1 / 4 / 3;
  }
}

@media screen and (min-width: 769px) {
  .categories {
    display: flex;
    flex-wrap: wrap;
    &-section {
      width: calc(50% - 20px);
      margin: 0 10px;
    }
  }
}