@import '../lib/palette';

.paymentSteps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_header {
    width: calc(100% - 70px);
    margin: 0 35px;
    p {
      padding: 0;
    }
  }
  &__separator {
    width: calc(100% - 70px);
    margin: 0 35px;
    border: 1px solid #CCCCCC;
  }
  &_content {
    width: calc(100% - 70px);
    margin: 0 35px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    &-icon {
      width: 100%;
      height: 42px;
      svg {
        width: 42px;
        height: 42px;
        text-align: center;
        color: map-get(map-get($palette,alert),success);
      }
    }
    &-text {
      font-size: 22px;
      &--success {
        font-size: 40px;
      }
    }
    button {
     margin: 20px 0;
    }
  }
  &_actions {
    width: calc(100% - 70px);
    margin: 0 35px;
    button {
      margin: 20px 0 !important;
     }
  }
}