@import '../lib/fonts';
@import '../lib/palette';

.paymentSteps {
  display: flex;
  width: calc(100% - 75px);
  margin: 0 35px;
  flex-direction: column;
  justify-content: space-between;
  &_header {
    p {
      padding: 0;
    }
    
  }
  &__separator {
    width: 100%;
    border: 1px solid #CCCCCC;
  }
  &_content {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    &-icon {
      width: 100%;
      height: 42px;
      svg {
        width: 42px;
        height: 42px;
        text-align: center;
        color: map-get(map-get($palette,alert),success);
      }
    }
    &-text {
      font-size: 22px;
      &--success {
        font-size: 40px;
      }
    }
    button {
     margin: 20px;
    }
  }
  &_actions {
    button {
      margin: 20px;
     }
  }
}