@import "../lib/palette";

.results {
  grid-area: 1 / 1 / 4 / 2;
  overflow-y: auto;
  display: flex;
  width: calc(100% - 10px);
  padding: 10px 5px 20px;
  flex-wrap: wrap;
  &.light {
    & .SearchCard {
      background: map-get(map-get($palette,lightTheme),white);
    }
  }
  &.dark {
    & .SearchCard {
      background: map-get(map-get($palette,darkTheme),lighter);
    }
  }
}

@media screen and (min-width: 500px) { 
  .results {
    grid-area: 1 / 1 / 4 / 3;
  }
}

@media screen and (min-width: 769px) {
  .results {
    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 8px;
      background: map-get(map-get($palette, greyColors), moon);
    }
    &::-webkit-scrollbar-thumb {
      width: 8px;
      border-radius: 8px;
      background: map-get(map-get($palette, lightTheme), content);
      cursor: pointer;
    }
  }
}