@import '../../lib/palette';

.Card {
  height: 150px;
  width: calc(100% - 10px); 
  border-radius: 5px;
  margin-left: 10px;
  background: map-get(map-get($palette,primary),gradient);
  box-shadow: 0px 0px 6px #00000029;
  opacity: 1;
  &__img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}