.MainCarousel {
  white-space: nowrap;
  &-item {
    width: calc(100% - 40px);
    display: inline-block;
    cursor: pointer;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .MainCarousel {
    &-item {
      width: calc(50% - 40px);
    }
  }
}