@import './lib/palette';
@import './lib/fonts';
@import './lib/gridWrapper';
@import './lib/gridContent';
@import './lib/gridModal';

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  width: 100%;
  height: 100vh;
}
