@import './lib/palette';

body {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: map-get(map-get($palette, darkTheme), background);
  color: map-get(map-get($palette, primary), purple);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

p {
  text-align: center;
  color: map-get(map-get($palette, primary), blue);
}

.image-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 400px;
  height: auto;
}