@import '../lib/palette';

.CartContainer {
  font-family: 'Quicksand Regular';
  color: map-get(map-get($palette,greyColors), black);
  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &-description {
      color: map-get(map-get($palette,lightTheme), white);
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 100%;
    }
    &-item {
      display: flex;
      width: calc(100% - 60px);
      justify-content: space-between;
      align-items: center;
      margin: 0 15px;
      padding: 0 15px;
      border-bottom: solid 1px #C1C1C1;
      color: black;
      min-height: 30px;
      &--total {
        font-family: 'Quicksand Bold';
        border-bottom: none;
      }
    }
    button {
      width: calc(100% - 30px);
      margin: 10px 0;
    }
  }
}