@import '../lib/palette';

.Settings {
  font-family: 'Quicksand Regular';
  color: map-get(map-get($palette,greyColors),black);
  &__menu {
    width: calc(100% - 40px);
    margin: 20px;
    &-item {
      border-bottom: 1px solid map-get(map-get($palette,greyColors),silver);;
      display: flex;
      width: 100%;
      height: 40px;
      padding: 10px 0;
      font-family: 'Quicksand Bold';
      font-size: 1.2em;
      align-items: center;
      justify-content: space-between;
      &:last-child {
        border-bottom: none;
      }
      &--icon {
        transform: rotate(180deg);
        margin-right: 10px;
      }
    }
  } 
}

@media screen and (min-width: 680px) {
  .Settings {
    &__menu {
      width: calc(80% - 40px);
      margin: 40px auto;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Settings {
    &__menu {
      width: calc(60% - 40px);
    }
  }
}
