@import '../lib/fonts';
@import '../lib/palette';

.TagsContainer {
  color: map-get(map-get($palette,greyColors),black);
  display: flex;
  flex-direction: column;
  &__tags {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 8px 0px;

  }
}