@import '../lib/palette';

.UserProfile {
  width: 100%;
  height: 70%;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-family: 'Quicksand Regular';
    font-size: 22px;
    padding: 5px 5px 10px;
  }
  &__img{
    width: 70px;
    height: 70px;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}

@media screen and (min-width: 375px) {
  .UserProfile {
    height: 75%;
  }
}

@media screen and (min-width: 768px) {
  .UserProfile {
    height: 80%;
  }
}